@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    /* font-family: 'CustomFont1'; */
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'CustomFont1';
    src: url('/PROXON.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('/VTFJustinaGEO-Regular.otf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
